.container{
	background-color: whitesmoke;
	width: 100%;
	padding: 5px;
	margin: auto; 
	margin-top: 100px;
}

.headerMenu{
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(10, 27, 114,0.8);
	width: 100%;
	padding: 16px;	
	color: white;
}

.container main img{
	width: 100%;
}

.menu ul li{
	list-style: none;
	float:left;
}

.menu ul li a{
	color: 	whitesmoke;
	text-decoration: none; 
	display: inline-block; 
	padding: 20px;
}	

.menu ul li a:hover{
	color: black;
	background-color: white;
}

footer{
	background-color: rgba(10, 27, 114,1);
	width: 100%;
	padding: 20px;
	text-align: center;
	color: white;
}