
/*Color de fondo y tipo de letra en todo el body*/
body{ 
    background-color: aliceblue;
    font: 1em/1.3 Arial,Helvetica,sans-serif;
    color: #555;
}

/*El color de todo el texto de los parrafos de primero*/
#primero {
    color:  #336699;
}

/*Darle color a los textos de enlace*/
a{
    color: #CC3300;
}

/*Darle color y fondo a los em contenidos en primero*/
#primero em {
    background: #FFFFCC;
    padding: .1em; 
    font: 1em/1.3 Arial,Helvetica,sans-serif;
}

/*Darle caracteristicas a los em que esten en la clase especial */
.especial {
    background: #FFCC99;
    border: 1px solid #FF9900;
    padding: .1em;
}

/*Darle negrita a las palabras contenidas en span en la clase normal*/
.normal span {
    font-weight: bold;
}